/* Default variables */

:root {

    --a11y-font-size-modifier: 1;
    --a11y-line-height-modifier: 1;
    --a11y-letter-spacing-modifier: 1;
    --a11y-spacing-modifier: 1;
    --a11y-button-open-background-color: var(--usa-color-yellow-vivid-10);
    --a11y-button-open-color: var(--usa-ink);
    --a11y-panel-background: var(--usa-primary-dark);
    --a11y-font-family: "Open-Dyslexic", sans-serif;

    --a11y-button-color: fuscia;
}
